body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f9f9f9;
}

input, button {
  margin: 5px;
}

.zgloszenie {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.status.zrobione {
  color: green;
  font-weight: bold;
}
body.dark {
  background-color: #121212;
  color: #ffffff;
}

.dark .zgloszenie {
  background-color: #1e1e1e;
  border-color: #333;
}

.dark input,
.dark textarea {
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #555;
}

.dark .wykonane-btn {
  background-color: #2e7d32;
  color: #fff;
}
