# Python
__pycache__/
*.py[cod]
*.db

# SQLite DB
baza_zgloszen.db

# IDE/Editor
.vscode/
.idea/

# Logs
*.log

# Node
node_modules/

# System
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar
*.gz
*.7z

# Env
.env
